{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">Historia</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">Ver en el sitio</a>
        </li>
    {% endif %}
{% endblock %}


{% block admin_change_form_document_ready %}
{{ block.super }}
<!-- <script src="{% static 'gestion/js/show_hidden_fields.js' %}"></script> -->
{% endblock %}
