{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'gestion/js/jquery-3.1.1.min.js' %}"></script>
{% endblock %}

{% block content %}
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}

    <p>Se va a proceder a dar de baja a este miembro para el cumplimiento del RGPD y la LOPD.</p>
    
    <p>Este proceso es irreversible.</p>
        
    <p>¿Está seguro?</p>

    <input type="submit" id="btnAñadir" name="apply" value="Dar de baja por LOPD">
    <br><br><a href="{{ request.META.HTTP_REFERER }}">Cancelar y volver</a>
  </form>
{% endblock %}
